@font-face {
  font-family: "default";
  src:
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-bold1.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-bold1.woff")
      format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.font-family {
  font-family: "default", sans-serif;
  line-height: 2;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 9999;
}

.load-page {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.loading-ring {
  position: relative;
  width: 50px;
  height: 50px;
}

.loading-ring::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  animation: pulse-ring 0.8s ease-out infinite alternate;
  border: 4px solid rgb(0, 227, 11);
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(37, 36, 36, 0.42);
  z-index: -9999;
}
input,
button {
  border: none;
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Default for Desktop (>= 1200px) */
.container {
  width: 100%;
  max-width: 1200px; /* Max width for larger screens */
  margin: 0 auto;
  padding: 0 20px;
}

/* Small Desktop / Laptops (1024px to 1200px) */
@media (1024px <= width < 1200px) {
  .container {
    max-width: 1000px;
    padding: 0 15px;
  }
}

/* Tablets (768px to 1024px) */
@media (768px <= width < 1024px) {
  .container {
    max-width: 90%; /* Responsive percentage width */
    padding: 0 10px;
  }
}

/* Mobile (480px to 768px) */
@media (480px <= width < 768px) {
  .container {
    max-width: 95%;
    padding: 0 8px;
  }
}

/* Extra Small Mobile (< 480px) */
@media (width < 480px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

header {
  margin-bottom: 90px;
}
nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 15px rgb(34 34 34 / 37%);
}
nav .container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container > ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .container > ul li {
  cursor: pointer;
  font-size: 23px;
  position: relative;
}
nav .container > ul .sub-list {
  position: absolute;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: white;
  min-width: 200px;
  box-shadow: 2px 2px 10px #1a1a1a61;
  transition: .3s;
  opacity: 0;
  top: 65px;
}
nav .container > ul li:first-child:focus-within .sub-list {
  top: 58px;
  opacity: 1;
}
nav .container > ul .sub-list li {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

nav .container button {
  font-size: 19px;
  transition: 0.3s;
  margin: 0 3px;
  background-color: transparent;
  cursor: pointer;
}
nav .container ul button.active,
.home.active {
  color: #009688;
}
nav .container ul button:hover,
.home:hover {
  color: #009688;
}
nav .container ul button[value="download"] {
  display: none;
}

/* Article */
article {
  flex: 1;
  margin-top: 20px;
  font-size: 24px;
  overflow: hidden;
}
article .container {
  max-width: 1000px;
}
article .page {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: clamp(42px, 7vw, 60px);
  margin: 30px auto;
  text-align: justify;
  line-height: 2;
  position: relative;
}
article .page:first-child div:first-child {
  text-align: center;
  margin-bottom: 35px;
}
article .page:first-child div:first-child h3 {
  color: #222;
}
article .page .title-box {
  margin-bottom: 33px;
  text-align: center;
}
/* article .page .title-box h2 {
  transform: translateY(-26px);
} */
article .page h3 {
  text-align: center;
}
article .page > p {
  text-align: justify;
}
article .page p p {
  text-align: end;
  color: gray;
  transform: translateY(-13px);
}
article .page > p .verse-number {
  background-image: url("../images/icons/verseIcon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 2em;
  font-size: 62%;
  padding: 5px;
  margin: 0 4px 0 5px;
  color: #313131;
  display: inline-block;
  transform: translateY(-3px);
}
article .page .page-number {
  position: absolute;
  bottom: -3px;
  left: 0;
  font-size: 25px;
  color: #646363;
  text-align: center;
  width: 100%;
}

/* Quote generator */
main.hidden {
  overflow: hidden;
  width: 0;
  height: 0;
}

main .quote {
  background-color: white;
  min-height: 160px;
  padding: 28px;
  border-radius: 10px;
  font-size: 22px;
  margin-bottom: 20px;
}

.quote p {
  transition: opacity 0.3s ease;
}

/* Scrollbar Track */
.quote::-webkit-scrollbar {
  width: 4px; /* For vertical scrollbar */
}

/* Scrollbar Thumb */
.quote::-webkit-scrollbar-thumb {
  background: #00796b;
}

/* Scrollbar Track background */
.quote::-webkit-scrollbar-track {
  background: transparent;
}
.quote > div:first-of-type {
  font-size: 17px;
  color: rgb(137, 137, 136);
  left: 0px;
  bottom: 36px;
  display: flex;
  flex-direction: row-reverse;
  transition: opacity 0.3s ease;
}
@property --percent {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
@property --seconds {
  syntax: "<time>";
  initial-value: 5s;
  inherits: false;
}
.quote .shrinking-bar {
  width: 45px;
  height: 45px;
  background-color: #ddd;
  background-image: conic-gradient(
    #04d600,
    #04d600 var(--percent),
    transparent var(--percent)
  );
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  padding: 5px;
  opacity: 0;
}

.quote .shrinking-bar.running {
  animation: timer var(--seconds) infinite linear;
  opacity: 1;
}

@keyframes timer {
  to {
    --percent: 100%;
  }
}

.quote .shrinking-bar .circle {
  width: 35px;
  height: 35px;
  background: white;
  position: relative;
  border-radius: 50%;
  font-size: 17px;
  color: #939393;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-generator .generator {
  width: fit-content;
  margin: 0 auto;
  display: flex;
}
.quote-generator .generator .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  background-color: white;
  border-radius: 10px;
  padding: 2px 6px;
  font-size: 18px;
  transition: 0.3s;
  margin: 0 3px;
  cursor: pointer;
}
.quote-generator .generator .btn:hover {
  background-color: #009688;
  color: white;
}
.quote-generator .generator .btn div {
  width: fit-content;
  padding: 0;
  margin: 0;
}
.quote-generator .generator .btn span {
  margin-right: 4px;
  background-image: url(../images/icons/play-circle.svg);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  transition: 0.3s;
}
.quote-generator .generator .btn:hover span {
  background-image: url(../images/icons/play-circle-white.svg);
}
.quote-generator .generator .btn span.pause-play {
  background-image: url(../images/icons/pause-circle.svg);
}
.quote-generator .generator .btn:hover span.pause-play {
  background-image: url(../images/icons/pause-circle-white.svg);
}

/* Quran chapters-container */
.chapters-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  margin-top: 30px;
  gap: 15px;
}
.chapters-container .chapter {
  height: 80px;
  padding: 12px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.chapters-container .chapter:hover {
  background-color: #00897b;
  transform: translateY(-5px);
  box-shadow:
    4px 4px 12px rgba(126, 126, 126, 0.597),
    -4px -4px 12px rgba(126, 126, 126, 0.597);
}
.chapters-container .chapter h2 {
  min-height: 29px;
  font-size: clamp(20px, 2vw, 25px);
  font-weight: normal;
  padding: 0 10px;
  line-height: 1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.chapters-container .chapter:hover h2 {
  color: white;
}
.chapters-container .chapter > span {
  color: gray;
  position: absolute;
  left: 13px;
  bottom: 0;
}
.chapters-container .chapter:hover span {
  color: white;
}
.chapters-container .chapter div {
  position: relative;
  line-height: 1;
}
.chapters-container .chapter div span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -58%);
  font-size: 17px;
  color: #5b5b5b;
}
.chapters-container .chapter:hover div span {
  color: #009688;
}

/* Sidebar */
aside {
  position: fixed;
  top: 0;
  width: min(100%, 400px);
  height: 100%;
  backdrop-filter: blur(12px);
  background:linear-gradient(#a4a4a46b, #10632f5c);;
  transition: 0.3s;
  z-index: 9999;
  box-shadow:
    0px 10px #2222225c,
    -4px 0 10px #2222225c;
  overflow: hidden auto;
}
aside.settings {
  right: -400px;
}

/* Scrollbar Track */
aside.settings::-webkit-scrollbar {
  width: 0px; /* For vertical scrollbar */
}

aside.active {
  right: 0;
}
aside .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 61px;
  padding: 0 30px;
  z-index: 9999;
  background: white;
  box-shadow: 0 2px 10px #1414144a;
}
aside > div:last-child {
  padding: 15px;
}
.direction {
  flex-direction: row-reverse;
}
aside .title h2 {
  padding: 5px 0;
  font-size: 34px;
}
aside .title .close-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}
aside .title .close-btn:hover {
  background: rgb(240, 72, 72);
}
aside .title .close-btn img {
  width: 100%;
}
aside > hr {
  margin-bottom: 30px;
  border: none;
  height: 2px;
  background: white;
}
aside .box {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}
.font-size-range {
  display: flex;
  justify-content: space-between;
}
.font-size-range > span {
  font-size: 36px;
  color: #323232;
}
.font-size-range div {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #d0cccc;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.font-size-range div:hover {
  background-color: #009688;
}
.font-size-range div::before,
.increase::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: rgb(42, 42, 42);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.font-size-range .increase::after {
  transform: rotate(-90deg) translate(1px, -12px);
}
.font-size-range div:hover::before,
div:hover::after {
  background-color: white;
}
aside .box > span {
  font-size: 14px;
  color: #5b5b5b;
}
aside .box h3 {
  font-size: 25px;
  padding: 10px 0;
  text-align: center;
}
aside .box hr {
  border: none;
  background: #d0cccc;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 15px;
}
aside.settings .box ul {
  overflow-y: scroll;
  height: 160px;
  direction: ltr;
  padding-right: 3px;
  position: relative;
  scroll-behavior: smooth;
}

aside.settings .box .website-language-box {
  height: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

aside.settings .box .website-language-box li {
  padding: 8px 22px;
  text-align: end;
  font-size: 18px;
}
/* Scrollbar Track */
aside.scroll .box ul::-webkit-scrollbar {
  width: 3px; /* For vertical scrollbar */
}

/* Scrollbar Thumb */
aside.scroll .box ul::-webkit-scrollbar-thumb {
  background: #118be6;
}

/* Scrollbar Track background */
aside.scroll .box ul::-webkit-scrollbar-track {
  background: #e3e1e1;
}
aside .box ul li {
  border-radius: 5px;
  padding: 7px;
  background-color: #e3e1e1;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
}
aside .box ul p {
  font-size: 18px;
  color: #7a7a7a;
  text-align: center;
}
aside .box ul li span {
  color: rgb(153, 152, 152);
  font-size: 12px;
}
aside .box ul li:hover {
  background-color: #26a69a;
  color: white;
  transform: translateZ(12px);
  box-shadow:
    2px 2px 12px rgba(180, 179, 179, 0.597),
    -2px -2px 12px rgba(176, 175, 175, 0.597);
}
aside .box ul li.active {
  background-color: #00897b;
  color: white;
}

/* Second aside */
aside.book-details {
  right: auto;
  left: -400px;
  direction: rtl;
}
aside.book-details.active {
  left: 0px;
}
.book-details .book-detail-selectors {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
  text-align: center;
}

.book-details .book-detail-selectors li {
  margin-bottom: 0;
}
.book-details .details {
  height: 435px;
  margin-bottom: 0;
  padding: 10px 0;
  display: flex;
}
.book-details .details .no-result-msg {
  display: block;
  inset: 0;
  margin: auto;
  position: absolute;
  width: fit-content;
  height: fit-content;
  font-size: 24px;
  color: gray;
}
.book-details .details ul {
  overflow-y: scroll;
  height: 100%;
  padding: 0 10px;
  position: relative;
  scroll-behavior: smooth;
  min-width: 70px;
}
.book-details .details ul li span {
  font-size: initial;
  color: initial;
  background-color: yellow;
}
.book-details .details ul {
  overflow-y: scroll;
  height: 100%;
  padding: 0 10px;
  position: relative;
  scroll-behavior: smooth;
}
.book-details .search-field input {
  height: 38px;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
}
.book-details .search-field input:last-child {
  margin: 10px 0 15px;
  transition: 0.3s;
}
.book-details .search-field input:last-child.hidden {
  height: 0;
  padding: 0;
  margin: 0;
}

@property --scroll-percent {
  syntax: "<percentage>";
  initial-value: 44%;
  inherits: false;
}
.scroll-top {
  width: 40px;
  height: 40px;
  background-color: #d4d4d4;
   background-image: conic-gradient(
    #04d600,
    #04d600 var(--scroll-percent),
    transparent var(--scroll-percent)
  );
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: 0.3s opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}
.scroll-top div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}

footer {
  background: #2c2c2c;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
